@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
nav {
   overflow: hidden;
   background-color: rgba(255,255,255,0.8);
   padding: 5px 50px;
   position: fixed;
   top:0;
   width: 100%;
   z-index: 1000;
}
nav a {
   font-size: 1.5em;
   color:rgba(27, 30, 30, 0.452);
   text-decoration: none;
   padding: 6px 20px;
   transition: .5s
}
nav a:hover {
   color: #f5568677
}
.main {
   margin-top: 100px;
}

.card-link {
   text-decoration: none;
   color: inherit;
}

.card-link:hover {
   color:#f5568677;
   text-decoration: none;
}

.btn-outline-primary:hover {
   background-color: #f5568677;
   color: #fff;
   border-color: #f5568677; 
}

.filterDiv {
   float: left;
   text-align: center;
   display: none; 
 }

 .show {
   display: block;
 }
 .btn {
   border: none;
   outline: none;
   padding: 12px 16px;
   background-color: #f1f1f1;
   cursor: pointer;
 }

 .btn:hover {
   background-color: #f5568677;
 }

 .btn.active {
   background-color: #f5568677;
   color: white;
 }

 .round-button {
   border-radius: 70%;
   text-decoration: none;
   color: inherit;
 }

 .round-button:hover {
   background-color: #5c62d551;
 }